// sizes
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

// colors
$c-main: #e3b873;
$c-text: #363636;
$c-text-second: #959595;
$c-link-main: #e3b873;
$c-link-main-active: #e39d73;
$c-button-main: #e3b873;
$c-button-main-active: #e3cb73;

$bg-color-main: #131313;

$container-size: (
  'lg': 1440px,
  'md': 1256px,
);


